<% if(req.session.flashMessage) { %>
  <% for(type in req.session.flashMessage) { %>
    <div class="alert alert-<%= type %> alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
      </button>
      <ul>
        <% for(message in req.session.flashMessage[type]) { %>
          <li><%= req.session.flashMessage[type][message] %></li>
        <% } %>
      </ul>
    </div>
  <% } %>
<% } %>