<div class="container">
    <div class="jumbotron">
        <h1>Passport</h1>
        <h2>
          Passport and provider connection.
        </h2>
        <a class="btn btn-lg btn-success" href="/login">Login</a>
    </div>
</div>
